{% extends "registration/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="viewport">
    <div class="container d-flex  justify-content-center align-items-center">
        <div class="content-section " id="formregistro">
            <div class="alert alert-info">
                Te hemos enviado un correo con las instrucciones para cambiar tu contraseña.
            </div>
            <div class="border-top pt-3">
                <a href="{% url 'login' %}" class="btn ml-2" id="btncancelar">INICIAR SESION</a>

            </div>
        </div>
    </div>
</div>
{% endblock content %}