{% extends "registration/base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="viewport">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="content-section " id="formregistro">
            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Recordar contraseña</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn" id="btnforms" type="submit">Reinicar Contraseña</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <a href="{% url 'registro' %}" class="btn ml-2" id="btncancelar">Registrate</a>

            </div>
        </div>
    </div>
</div>
{% endblock content %}