{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="viewportregistro">
  <div class="container">
   
      <div class="content-section" style="
      border-radius: 15px;
      border: solid 3px #eaba15">
        <div class="media">
          {% if request.user.profile.image.url is not None %}
          <img class="rounded-circle account-img" src="{{ request.user.profile.image.url }}">
          {% else %}
          <img class="rounded-circle account-img" src="">
          {% endif %}
          <div class="media-body">
            <br/>
            <h2 class="account-heading">{{ user.username }}</h2>
            {% if request.user.profile.verificate %}
            <h3 style="color:#009414">CUENTA VERIFICADA  </h3>
            {% else %}
            <h2 style="color:#ff8800">TU CUENTA NO ESTÁ VERIFICADA </h2>
            <p style="color:#fff;font-size:22px">Comentario:<span style="color:#d60000"> {{ Comentario.comment }}</span> </p> 
            {% endif %}
            
          </div>
        </div>
        <!-- FORM HERE -->
        <form action="" method="POST" id="personForm" enctype="multipart/form-data" data-cities-url="{% url 'ajax_load_cities' %}" style="font-size:18px;">
            {% csrf_token %}
            <fieldset class="form-group">
               
                {{ u_form|crispy }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button id="btnforms" class="btn" type="submit">ACTUALIZAR PERFIL</button>
            </div>
            <a id="btncancelar" href="#" class="btn">CANCELAR</a>
        </form>
        
      </div>
    
  </div>
  
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_country").change(function() {
        var url = $("#personForm").attr("data-cities-url"); // get the url of the `load_cities` view
        var countryId = $(this).val(); // get the selected country ID from the HTML input

        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'country': countryId // add the country id to the GET parameters
            },
            success: function(data) { // `data` is the return of the `load_cities` view function
                $("#id_city").html(data); // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>
{% endblock content %}